---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import GameCard from "../../components/GameCard.astro";

const games = await getCollection("games");

const favoriteGames = games.filter(
  (game) =>
    game.data.tags?.includes("favorite")
);
---

<BaseLayout title="Favorite">

<h1>Favorite Games</h1>

{
  favoriteGames.map((game) => (
    <GameCard game={game} />
  ))
}

</BaseLayout>