---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const base = import.meta.env.BASE_URL;

const games = await getCollection("games");
const movies = await getCollection("movies");
const books = await getCollection("books");
const series = await getCollection("series");
const music = await getCollection("music");

const genres = [
  ...new Set([
    ...games.flatMap((item) => item.data.genres ?? []),
    ...movies.flatMap((item) => item.data.genres ?? []),
    ...books.flatMap((item) => item.data.genres ?? []),
    ...series.flatMap((item) => item.data.genres ?? []),
    ...music.flatMap((item) => item.data.genres ?? []),
  ]),
].sort();
---

<BaseLayout title="ژانرها">

<h1>ژانرها</h1>

<div class="genres-grid">

  {
    genres.map((genre) => (
      <a
        href={`${base}genres/${genre
          .toLowerCase()
          .replaceAll(" ", "-")}`}
        class="genre-card"
      >
        {genre}
      </a>
    ))
  }

</div>

<style>
.genres-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.genre-card {
  border: 1px solid #333;
  border-radius: 12px;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

.genre-card:hover {
  transform: translateY(-2px);
}
</style>

</BaseLayout>