---
import BaseLayout from "../layouts/BaseLayout.astro";
import GameTable from "../components/GameTable.astro";
import { getCollection } from "astro:content";

const games = await getCollection("games");
---

<BaseLayout title="جدول بازی‌ها">
  <h1>جدول بازی‌ها</h1>

  <GameTable games={games} />
</BaseLayout>