---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import MovieTable from "../../components/MovieTable.astro";

const base = import.meta.env.BASE_URL;

const movies =
  await getCollection("movies");

const sortedMovies =
  [...movies].sort(
    (a, b) =>
      b.data.personal_rating -
      a.data.personal_rating
  );
---

<BaseLayout title="فیلم‌ها - جدول">

<h1>فیلم‌ها</h1>

<div class="view-switch">

  <a href={`${base}movies`}>
    نمای کارت
  </a>

  <a href={`${base}movies/table`}>
    نمای جدول
  </a>

</div>

<p>
  تعداد فیلم‌ها:
  {movies.length}
</p>

<MovieTable
  movies={sortedMovies}
/>

<style>
.view-switch {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.view-switch a {
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
}
</style>

</BaseLayout>